/* entry point css */
.top-buffer{
  margin-top: 20px;
}

.about-page{
  position: relative;
  top: -20px;
}

.about-page .jumbotron{
  margin: 0;
  background:rgba(9,69,95,0.8);
  color: white;
  border-radius: 0 !important;
}

/*React apply activeClassName to <a> element, but Bootstrap active class is over <li> element*/
.navbar .nav .active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background: #e7e7e7 !important;
  color: #333 !important;
}

.avatar {
   max-width: 80px
}
