.top-buffer{
  margin-top: 20px;
}

.about-page{
  position: relative;
  top: -20px;
}

.about-page .jumbotron{
  margin: 0;
  background:rgba(9,69,95,0.8);
  color: white;
  border-radius: 0 !important;
}

/*React apply activeClassName to <a> element, but Bootstrap active class is over <li> element*/
.navbar .nav .active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background: #e7e7e7 !important;
  color: #333 !important;
}

.avatar {
   max-width: 80px
}

.spinnerOverlay {
  position: fixed;
  z-index: 40001;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.spinner {
  position: fixed;
  z-index: 40002;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  background: url('../images/spinner.gif') no-repeat center #fff;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #666;
  margin-left: -50px;
  margin-top: -50px;
}
